<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/hf.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Video with Pop-Up Quizzes</title>
</head>
<body>
    <h1>Welcome to the Interactive Video with Pop-Up Quizzes</h1>
    
    <div>
        <h2>Watch the Video</h2>
        <video id="interactive-video" class="video-container" controls>
            <source src="/video" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- Pop-up container -->
    <div id="popup" class="popup-container">
        <h3>Quiz Question</h3>
        <p>What is 2 + 2?</p>
        <button onclick="checkAnswer('4')">4</button>
        <button onclick="checkAnswer('3')">3</button>
        <button onclick="checkAnswer('5')">5</button>
    </div>

    <script>
        let video = document.getElementById('interactive-video');
        let popup = document.getElementById('popup');
        let showedMathPopup = false;

        video.addEventListener('timeupdate', (event) => {
           let timeMs = Math.floor(video.currentTime * 1000);
           console.log("currentTme in " + timeMs + " ms");
           if(timeMs > 2000 && !showedMathPopup) {
            showedMathPopup = true;
            togglePopup();    
           }
        });

        // Function to show the pop-up quiz
        function togglePopup() {
            if(popup.style.display != 'block') {
                video.pause();
                popup.style.display = 'block'; // Display the pop-up container
            } else {
                popup.style.display = 'none'; // Hide the pop-up container
                video.play();
            }
        }

        // Function to check the answer
        function checkAnswer(answer) {
            // Check the answer and provide feedback
            if (answer === '4') {
                alert('Correct!'); // Show feedback message
            } else {
                alert('Incorrect!'); // Show feedback message
            }

            togglePopup();
        }
    </script>
</body>
</html>
