{% extends 'base.html' %}

{% block body %}

<!-- <h3>Hi! I am a ChatGPT-powered chatbot here to support your learning. My major task today is helping you generate questions that meet your needs. Right now, I can generate three types of questions for you. Would you like me to explain these three types of questions?</h3> -->
<h3>Hi! I am a ChatGPT-powered chatbot here to support your learning. We are going to select some AI generated questions together to support your video watching experience. The questions will pop up while your are watching a video. Let's figure out what type of questios are meet your needs and preference. Right now, I can generate three types of questions for you. Would you like me to explain these three types of questions? </h3>

<form method='POST' action='/ask'>
<table>
<!-- <p>Use this to interact with the chatbot!</p> -->
<p>Type in the chatbox below to interact with the chatbot! (Chatbot's utterances are colored in green)</p>
<tr><td>You:</td><td><input name='input_string' type='TEXT' width='60'></td></tr>
</table>
<p>When you finish typing, click the "send" button:</p>
<p><input value='Send' type='SUBMIT'></p>
</form>

{% endblock %}